In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocessing the data 
data = data.drop(['RowNumber','CustomerId','Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
# One-hot encoder 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
# Combine one-hot encoded columns with original data 
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [7]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [8]:
# Split the data in training and testing sets
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2,random_state=42)

In [9]:
# Scale this features 
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
# Save the encoders and scaler for later use 
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)
    
with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)
    
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

### ANN Regression Problem statement

In [11]:
import tensorflow as tf 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From d:\vishal\ml_course\code\53_End to end deep learning project using ANN\ANN Classification\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [12]:
# Build the model 
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output later for regression
])

# compile the model 
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

WARNING:tensorflow:From d:\vishal\ml_course\code\53_End to end deep learning project using ANN\ANN Classification\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From d:\vishal\ml_course\code\53_End to end deep learning project using ANN\ANN Classification\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = 'regressionlogs/fit/' + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [14]:
#Set up early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [15]:
# Train the model 
history = model.fit(
    X_train, y_train,
    validation_data = (X_test, y_test),
    epochs = 100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\vishal\ml_course\code\53_End to end deep learning project using ANN\ANN Classification\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\vishal\ml_course\code\53_End to end deep learning project using ANN\ANN Classification\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 5s 9ms/step - loss: 100374.9141 - mae: 100374.9141 - val_loss: 98504.5469 - val_mae: 98504.5469
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99568.1719 - mae: 99568.1719 - val_loss: 96876.6016 - val_mae: 96876.6016
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 96723.1328 - mae: 96723.1328 - val_loss: 92726.3984 - val_mae: 92726.3984
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 91154.8750 - mae: 91154.8750 - val_loss: 85838.0000 - val_mae: 85838.0000
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 83123.2969 - mae: 83123.2969 - val_loss: 77115.4141 - val_mae: 77115.4141
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 73880.5781 - mae: 73880.5781 - val_loss: 68150.5625 - val_mae: 68150.5625
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 65032.5547 - mae: 65032.5547 - val_loss: 60480.6953 - val_mae: 60480.6953
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 58095.3438 - mae: 58095.3438 - val_loss: 55114.0352 - val_mae: 55114.0352
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 53782.2930 - mae: 53782.2930 - val_loss: 52281.5742 - val_mae: 52281.5742
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 51630.6875 - mae: 51630.6875 - val_loss: 51096.6406 - val_mae: 51096.6406
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 50763.5039 - mae: 50763.5039 - val_loss: 50735.9727 - val_mae: 50735.9727
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 50425.1914 - mae: 50425.1914 - val_loss: 50639.9492 - val_mae: 50639.9492
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50274.1172 - mae: 50274.1172 - val_loss: 50593.0469 - val_mae: 50593.0469
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50200.4609 - mae: 50200.4609 - val_loss: 50556.3242 - val_mae: 50556.3242
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 50141.9531 - mae: 50141.9531 - val_loss: 50526.4102 - val_mae: 50526.4102
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50093.3633 - mae: 50093.3633 - val_loss: 50495.9688 - val_mae: 50495.9688
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 50047.1406 - mae: 50047.1406 - val_loss: 50472.9648 - val_mae: 50472.9648
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 50006.8633 - mae: 50006.8633 - val_loss: 50449.1289 - val_mae: 50449.1289
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 49974.9844 - mae: 49974.9844 - val_loss: 50427.8828 - val_mae: 50427.8828
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 49945.8242 - mae: 49945.8242 - val_loss: 50400.1992 - val_mae: 50400.1992
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 49917.8906 - mae: 49917.8906 - val_loss: 50385.1406 - val_mae: 50385.1406
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 49888.9883 - mae: 49888.9883 - val_loss: 50365.1953 - val_mae: 50365.1953
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 49864.5977 - mae: 49864.5977 - val_loss: 50352.5391 - val_mae: 50352.5391
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49840.5469 - mae: 49840.5469 - val_loss: 50337.8867 - val_mae: 50337.8867
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49820.5742 - mae: 49820.5742 - val_loss: 50329.2930 - val_mae: 50329.2930
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49797.0703 - mae: 49797.0703 - val_loss: 50329.2812 - val_mae: 50329.2812
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49778.9609 - mae: 49778.9609 - val_loss: 50306.4609 - val_mae: 50306.4609
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49759.5195 - mae: 49759.5195 - val_loss: 50307.1328 - val_mae: 50307.1328
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49744.9883 - mae: 49744.9883 - val_loss: 50301.4414 - val_mae: 50301.4414
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49727.0508 - mae: 49727.0508 - val_loss: 50292.6094 - val_mae: 50292.6094
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49711.1641 - mae: 49711.1641 - val_loss: 50295.6523 - val_mae: 50295.6523
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49695.8164 - mae: 49695.8164 - val_loss: 50292.3477 - val_mae: 50292.3477
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49681.5664 - mae: 49681.5664 - val_loss: 50296.1250 - val_mae: 50296.1250
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49667.4688 - mae: 49667.4688 - val_loss: 50290.2930 - val_mae: 50290.2930
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49656.1250 - mae: 49656.1250 - val_loss: 50274.7539 - val_mae: 50274.7539
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49644.0664 - mae: 49644.0664 - val_loss: 50285.3984 - val_mae: 50285.3984
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49628.3008 - mae: 49628.3008 - val_loss: 50275.4062 - val_mae: 50275.4062
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 49615.8828 - mae: 49615.8828 - val_loss: 50272.3125 - val_mae: 50272.3125
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49605.7812 - mae: 49605.7812 - val_loss: 50272.6133 - val_mae: 50272.6133
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 49593.9922 - mae: 49593.9922 - val_loss: 50267.6094 - val_mae: 50267.6094
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49582.4727 - mae: 49582.4727 - val_loss: 50267.9766 - val_mae: 50267.9766
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49572.3672 - mae: 49572.3672 - val_loss: 50263.2578 - val_mae: 50263.2578
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49560.9375 - mae: 49560.9375 - val_loss: 50262.0625 - val_mae: 50262.0625
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49551.7734 - mae: 49551.7734 - val_loss: 50255.0859 - val_mae: 50255.0859
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49541.5234 - mae: 49541.5234 - val_loss: 50248.3633 - val_mae: 50248.3633
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49533.1094 - mae: 49533.1094 - val_loss: 50255.0586 - val_mae: 50255.0586
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49526.5547 - mae: 49526.5547 - val_loss: 50260.0781 - val_mae: 50260.0781
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 49522.0078 - mae: 49522.0078 - val_loss: 50257.4141 - val_mae: 50257.4141
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 49507.7812 - mae: 49507.7812 - val_loss: 50261.1055 - val_mae: 50261.1055
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49505.0312 - mae: 49505.0312 - val_loss: 50268.8789 - val_mae: 50268.8789
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 49494.0781 - mae: 49494.0781 - val_loss: 50273.6328 - val_mae: 50273.6328
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 49486.6562 - mae: 49486.6562 - val_loss: 50267.3438 - val_mae: 50267.3438
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49483.0547 - mae: 49483.0547 - val_loss: 50275.0430 - val_mae: 50275.0430
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 49471.7344 - mae: 49471.7344 - val_loss: 50268.8633 - val_mae: 50268.8633
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 49467.2656 - mae: 49467.2656 - val_loss: 50266.2617 - val_mae: 50266.2617

In [16]:
%load_ext tensorboard

In [19]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 3928), started 0:00:20 ago. (Use '!kill 3928' to kill it.)

In [20]:
# Evaluate model on the test data 
test_loss, test_mae = model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50248.3633 - mae: 50248.3633
Test MAE : 50248.36328125

In [21]:
model.save('regression_model.h5')

d:\vishal\ml_course\code\53_End to end deep learning project using ANN\ANN Classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(